@media only screen and (max-width: 600px){
    .float .float-right{ display: block;}
    .float .float-left{ display: block; }
    .float-img-box{ margin: 10px 0 20px 0; }
    .write-comment .frame{ display: block; }
}